body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Mono", monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background: black;
  position: relative;
}
.header__logo {
  cursor: pointer;
}

.nav__item {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}
.nav__link {
  font-family: "Gill Sans";
  font-weight: 500;
  font-size: 16px;
  color: #faf4f4ee;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.nav__link:hover {
  color: #0088a9;
}
.nav__icon {
  width: 25px;
  height: 25px;
}

.hero__titulo {
  height: 40px;
  background: #cccccc;
  margin: 0;
}

.slider {
  display: flex;
  width: 100%;
  height: 500px;
  position: relative;
}
.slider::after {
  content: "";
  background-color: rgba(228, 68, 228, 0.659);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}
.slider__imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__contenedor {
  width: 100%;
  height: 100%;
  position: absolute;
}
.slider__text-container {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 600px;
  background-color: #fffb;
  padding: 10px;
}
.slider__title {
  font-size: 43px;
  color: #080808;
}
.slider__texto {
  color: #080808;
}
.slider__boton {
  font-size: 40pt;
  color: red;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px 10px;
  cursor: pointer;
  z-index: 1;
}
.slider__boton:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.5s;
  color: black;
}
.slider__boton--derecha {
  right: 10px;
}
.slider__boton--izquierda {
  left: 10px;
}
.slider__paginacion {
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;
  text-align: center;
  z-index: 1;
}
.slider__dot {
  list-style: none;
  width: 25px;
  height: 25px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.calendar-launch__titulo {
  height: 50px;
  background: #cccccc;
  margin: 0;
}
.calendar-launch__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #020202;
}

.card {
  width: 140px;
  height: 200px;
  clip-path: polygon(34% 0, 100% 0, 100% 83%, 75% 100%, 0 100%, 0 16%);
  background-color: rgba(5, 238, 33, 0.774);
  color: white;
  border-radius: 15px;
  font-family: sans-serif;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 15px;
  border: 5px solid rgba(251, 252, 253, 0.78);
}
.card:hover {
  transform: translate(-3%, -3%) scale(1);
  background-color: #04cc0496;
}
.card__title {
  padding: 12px 0;
  text-align: center;
}
.card__date {
  display: flex;
  align-items: center;
  padding: 10px 0 0 10px;
}
.card__day {
  font-size: 40px;
  font-weight: bold;
}
.card__pipe {
  padding: 0 8px;
}
.card__footer {
  color: #ffffff;
  display: flex;
  padding: 22px 0 0 5px;
}
.card__icon {
  width: 20px;
  height: 20px;
  background-color: #ffffff55;
  border-radius: 50%;
  padding: 6px;
  margin: 0 2px;
}

.calendar-free__reclamar {
  height: 40px;
  background: #cccccc;
  margin: 0;
}

.cartas {
  width: 140px;
  height: 200px;
  clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 16%);
  background-color: rgba(0, 0, 0, 0.22);
  color: rgba(255, 255, 255, 0.967);
  border-radius: 15px;
  font-family: sans-serif;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 15px;
  text-decoration: none;
}
.cartas::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #13131367;
  z-index: -1;
}
.cartas:hover .cartas-link__imagen {
  transform: translate(-50%, -50%) scale(1.2);
}
.cartas__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  transition: transform 0.3s;
}
.cartas__title {
  padding: 12px 0;
  text-align: center;
}
.cartas__date {
  display: flex;
  align-items: center;
  padding: 10px 0 0 10px;
}
.cartas__day {
  font-size: 40px;
  font-weight: bold;
}
.cartas__pipe {
  padding: 0 8px;
}
.cartas__footer {
  color: #ffffff;
  display: flex;
  padding: 22px 0 0 5px;
}
.cartas__icon {
  width: 20px;
  height: 20px;
  background-color: #ffffff62;
  border-radius: 50%;
  padding: 6px;
  margin: 0 2px;
}

.noticias__container {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.823);
  flex-wrap: wrap;
}

.new__titulo {
  height: 40px;
  background: #d8d8d8;
  margin: 0;
}
.new__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: black;
}
.new__card {
  background: #3e0157;
  width: 400px;
  margin: 10px;
  border-radius: 15px;
}
.new__title {
  color: #cccccc;
}
.new__card-imagen {
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}
.new__card-imagen--image-1 {
  background-image: url(../imagenes/Steamoferts.jpg);
}
.new__card-imagen--image-2 {
  background-image: url(../imagenes/steamdeck.jpeg);
}
.new__card-imagen--image-3 {
  background-image: url(../imagenes/gtaremaster.jpg);
}
.new__text {
  padding: 10px;
  color: #ffffff;
}
.new__boton {
  background-color: rgba(150, 14, 14, 0.981);
  color: #fff;
  padding: 15px 15px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  text-decoration: none;
}
.new__card:hover {
  background-color: #110909;
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}

.contactos {
  display: flex;
  position: relative;
}
.contactos__izquierda {
  height: 100vh;
  width: 50%;
  background: rgba(27, 26, 26, 0.877);
}
.contactos__derecha {
  height: 100%;
  width: 50%;
  background: rgba(27, 26, 26, 0.877);
}
.contactos__mapa {
  height: 100;
  width: 100%;
}

.carta {
  top: 50%;
  left: 50%;
  height: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
  position: relative;
}
.carta:hover .carta__front {
  transform: rotateX(-180deg);
}
.carta:hover .carta__back {
  transform: rotateX(0deg);
}
.carta__front {
  height: 100%;
  width: 100%;
  background-image: url(../../imagenes/contactos.jpg);
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}
.carta__back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
  color: #ffffff;
  text-align: center;
}
.carta__titulo {
  margin: 60% auto 30% auto;
  font-size: 26px;
}
.carta__texto {
  font-size: 20px;
}