doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Azteca-Playss
		link(rel='stylesheet' href='style.css')
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,500&display=swap' rel='stylesheet')
	body
		.menu
			.navigation-menu
				.navigation
					img.navigation__logo(src='imagenes/SA-logo2.jpg' alt='logo')
					nav.navigation__bar
						ul.navigation__list
							li.navigation__item
								a.navigation__link(href='#') windows
							li.navigation__item
								a.navigation__link(href='#') Xbox
							li.navigation__item
								a.navigation__link(href='#') PlayStation
							li.navigation__item
								a.navigation__link(href='#') Nintendo
		.hero
			.titulo-slider
				.titulo
					h1.titulo__texto Mejores Juegos En Descuento
			.header
				img.header__imagen(src='imagenes/cyberpunk-2077.jpg' alt='')
				.header__texto-contenedor
					h1.header__title Cyberpunk 2077
					p.header__texto
						| Cyberpunk 2077 es un videojuego desarrollado y publicado por CD
						| Projekt, que se lanzó para Microsoft Windows, PlayStation 4, y Xbox
						| One el 10 de diciembre de 2020, y posteriormente en PlayStation 5,
						| Xbox Series X|S y Google Stadia.
				.header__boton.header__boton--derecha >
				.header__boton.header__boton--izquierda <
				.header__paginacion
					li.header__paginacion-link
					li.header__paginacion-link
					li.header__paginacion-link
		.calendar
			h1.calendar__texto Calendario De Lanzamiento
			.calendar__container
				.card
					.card__content
						h3.card__title HollowNight
						.card__date
							.card__day 12
							.card__pipe |
							.card__month JUL.
						.card__footer
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Xbox
									path(d='M4.102 21.033C6.211 22.881 8.977 24 12 24c3.026 0 5.789-1.119 7.902-2.967 1.877-1.912-4.316-8.709-7.902-11.417-3.582 2.708-9.779 9.505-7.898 11.417zm11.16-14.406c2.5 2.961 7.484 10.313 6.076 12.912C23.002 17.48 24 14.861 24 12.004c0-3.34-1.365-6.362-3.57-8.536 0 0-.027-.022-.082-.042-.063-.022-.152-.045-.281-.045-.592 0-1.985.434-4.805 3.246zM3.654 3.426c-.057.02-.082.041-.086.042C1.365 5.642 0 8.664 0 12.004c0 2.854.998 5.473 2.661 7.533-1.401-2.605 3.579-9.951 6.08-12.91-2.82-2.813-4.216-3.245-4.806-3.245-.131 0-.223.021-.281.046v-.002zM12 3.551S9.055 1.828 6.755 1.746c-.903-.033-1.454.295-1.521.339C7.379.646 9.659 0 11.984 0H12c2.334 0 4.605.646 6.766 2.085-.068-.046-.615-.372-1.52-.339C14.946 1.828 12 3.545 12 3.545v.006z')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title PlayStation
									path(d='M8.984 2.596v17.547l3.915 1.261V6.688c0-.69.304-1.151.794-.991.636.18.76.814.76 1.505v5.875c2.441 1.193 4.362-.002 4.362-3.152 0-3.237-1.126-4.675-4.438-5.827-1.307-.448-3.728-1.186-5.39-1.502zm4.656 16.241l6.296-2.275c.715-.258.826-.625.246-.818-.586-.192-1.637-.139-2.357.123l-4.205 1.5V14.98l.24-.085s1.201-.42 2.913-.615c1.696-.18 3.785.03 5.437.661 1.848.601 2.04 1.472 1.576 2.072-.465.6-1.622 1.036-1.622 1.036l-8.544 3.107V18.86zM1.807 18.6c-1.9-.545-2.214-1.668-1.352-2.32.801-.586 2.16-1.052 2.16-1.052l5.615-2.013v2.313L4.205 17c-.705.271-.825.632-.239.826.586.195 1.637.15 2.343-.12L8.247 17v2.074c-.12.03-.256.044-.39.073-1.939.331-3.996.196-6.038-.479z')
				.card
					.card__content
						h3.card__title HollowNight
						.card__date
							.card__day 12
							.card__pipe |
							.card__month JUL.
						.card__footer
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Xbox
									path(d='M4.102 21.033C6.211 22.881 8.977 24 12 24c3.026 0 5.789-1.119 7.902-2.967 1.877-1.912-4.316-8.709-7.902-11.417-3.582 2.708-9.779 9.505-7.898 11.417zm11.16-14.406c2.5 2.961 7.484 10.313 6.076 12.912C23.002 17.48 24 14.861 24 12.004c0-3.34-1.365-6.362-3.57-8.536 0 0-.027-.022-.082-.042-.063-.022-.152-.045-.281-.045-.592 0-1.985.434-4.805 3.246zM3.654 3.426c-.057.02-.082.041-.086.042C1.365 5.642 0 8.664 0 12.004c0 2.854.998 5.473 2.661 7.533-1.401-2.605 3.579-9.951 6.08-12.91-2.82-2.813-4.216-3.245-4.806-3.245-.131 0-.223.021-.281.046v-.002zM12 3.551S9.055 1.828 6.755 1.746c-.903-.033-1.454.295-1.521.339C7.379.646 9.659 0 11.984 0H12c2.334 0 4.605.646 6.766 2.085-.068-.046-.615-.372-1.52-.339C14.946 1.828 12 3.545 12 3.545v.006z')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title PlayStation
									path(d='M8.984 2.596v17.547l3.915 1.261V6.688c0-.69.304-1.151.794-.991.636.18.76.814.76 1.505v5.875c2.441 1.193 4.362-.002 4.362-3.152 0-3.237-1.126-4.675-4.438-5.827-1.307-.448-3.728-1.186-5.39-1.502zm4.656 16.241l6.296-2.275c.715-.258.826-.625.246-.818-.586-.192-1.637-.139-2.357.123l-4.205 1.5V14.98l.24-.085s1.201-.42 2.913-.615c1.696-.18 3.785.03 5.437.661 1.848.601 2.04 1.472 1.576 2.072-.465.6-1.622 1.036-1.622 1.036l-8.544 3.107V18.86zM1.807 18.6c-1.9-.545-2.214-1.668-1.352-2.32.801-.586 2.16-1.052 2.16-1.052l5.615-2.013v2.313L4.205 17c-.705.271-.825.632-.239.826.586.195 1.637.15 2.343-.12L8.247 17v2.074c-.12.03-.256.044-.39.073-1.939.331-3.996.196-6.038-.479z')
				.card
					.card__content
						h3.card__title Bioshock
						.card__date
							.card__day 15
							.card__pipe |
							.card__month JUL.
						.card__footer
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Xbox
									path(d='M4.102 21.033C6.211 22.881 8.977 24 12 24c3.026 0 5.789-1.119 7.902-2.967 1.877-1.912-4.316-8.709-7.902-11.417-3.582 2.708-9.779 9.505-7.898 11.417zm11.16-14.406c2.5 2.961 7.484 10.313 6.076 12.912C23.002 17.48 24 14.861 24 12.004c0-3.34-1.365-6.362-3.57-8.536 0 0-.027-.022-.082-.042-.063-.022-.152-.045-.281-.045-.592 0-1.985.434-4.805 3.246zM3.654 3.426c-.057.02-.082.041-.086.042C1.365 5.642 0 8.664 0 12.004c0 2.854.998 5.473 2.661 7.533-1.401-2.605 3.579-9.951 6.08-12.91-2.82-2.813-4.216-3.245-4.806-3.245-.131 0-.223.021-.281.046v-.002zM12 3.551S9.055 1.828 6.755 1.746c-.903-.033-1.454.295-1.521.339C7.379.646 9.659 0 11.984 0H12c2.334 0 4.605.646 6.766 2.085-.068-.046-.615-.372-1.52-.339C14.946 1.828 12 3.545 12 3.545v.006z')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title PlayStation
									path(d='M8.984 2.596v17.547l3.915 1.261V6.688c0-.69.304-1.151.794-.991.636.18.76.814.76 1.505v5.875c2.441 1.193 4.362-.002 4.362-3.152 0-3.237-1.126-4.675-4.438-5.827-1.307-.448-3.728-1.186-5.39-1.502zm4.656 16.241l6.296-2.275c.715-.258.826-.625.246-.818-.586-.192-1.637-.139-2.357.123l-4.205 1.5V14.98l.24-.085s1.201-.42 2.913-.615c1.696-.18 3.785.03 5.437.661 1.848.601 2.04 1.472 1.576 2.072-.465.6-1.622 1.036-1.622 1.036l-8.544 3.107V18.86zM1.807 18.6c-1.9-.545-2.214-1.668-1.352-2.32.801-.586 2.16-1.052 2.16-1.052l5.615-2.013v2.313L4.205 17c-.705.271-.825.632-.239.826.586.195 1.637.15 2.343-.12L8.247 17v2.074c-.12.03-.256.044-.39.073-1.939.331-3.996.196-6.038-.479z')
				.card
					.card__content
						h3.card__title Portal
						.card__date
							.card__day 20
							.card__pipe |
							.card__month JUL.
						.card__footer
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Xbox
									path(d='M4.102 21.033C6.211 22.881 8.977 24 12 24c3.026 0 5.789-1.119 7.902-2.967 1.877-1.912-4.316-8.709-7.902-11.417-3.582 2.708-9.779 9.505-7.898 11.417zm11.16-14.406c2.5 2.961 7.484 10.313 6.076 12.912C23.002 17.48 24 14.861 24 12.004c0-3.34-1.365-6.362-3.57-8.536 0 0-.027-.022-.082-.042-.063-.022-.152-.045-.281-.045-.592 0-1.985.434-4.805 3.246zM3.654 3.426c-.057.02-.082.041-.086.042C1.365 5.642 0 8.664 0 12.004c0 2.854.998 5.473 2.661 7.533-1.401-2.605 3.579-9.951 6.08-12.91-2.82-2.813-4.216-3.245-4.806-3.245-.131 0-.223.021-.281.046v-.002zM12 3.551S9.055 1.828 6.755 1.746c-.903-.033-1.454.295-1.521.339C7.379.646 9.659 0 11.984 0H12c2.334 0 4.605.646 6.766 2.085-.068-.046-.615-.372-1.52-.339C14.946 1.828 12 3.545 12 3.545v.006z')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title PlayStation
									path(d='M8.984 2.596v17.547l3.915 1.261V6.688c0-.69.304-1.151.794-.991.636.18.76.814.76 1.505v5.875c2.441 1.193 4.362-.002 4.362-3.152 0-3.237-1.126-4.675-4.438-5.827-1.307-.448-3.728-1.186-5.39-1.502zm4.656 16.241l6.296-2.275c.715-.258.826-.625.246-.818-.586-.192-1.637-.139-2.357.123l-4.205 1.5V14.98l.24-.085s1.201-.42 2.913-.615c1.696-.18 3.785.03 5.437.661 1.848.601 2.04 1.472 1.576 2.072-.465.6-1.622 1.036-1.622 1.036l-8.544 3.107V18.86zM1.807 18.6c-1.9-.545-2.214-1.668-1.352-2.32.801-.586 2.16-1.052 2.16-1.052l5.615-2.013v2.313L4.205 17c-.705.271-.825.632-.239.826.586.195 1.637.15 2.343-.12L8.247 17v2.074c-.12.03-.256.044-.39.073-1.939.331-3.996.196-6.038-.479z')
				.card
					.card__content
						h3.card__title Farmer'life
						.card__date
							.card__day 23
							.card__pipe |
							.card__month JUL.
						.card__footer
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Xbox
									path(d='M4.102 21.033C6.211 22.881 8.977 24 12 24c3.026 0 5.789-1.119 7.902-2.967 1.877-1.912-4.316-8.709-7.902-11.417-3.582 2.708-9.779 9.505-7.898 11.417zm11.16-14.406c2.5 2.961 7.484 10.313 6.076 12.912C23.002 17.48 24 14.861 24 12.004c0-3.34-1.365-6.362-3.57-8.536 0 0-.027-.022-.082-.042-.063-.022-.152-.045-.281-.045-.592 0-1.985.434-4.805 3.246zM3.654 3.426c-.057.02-.082.041-.086.042C1.365 5.642 0 8.664 0 12.004c0 2.854.998 5.473 2.661 7.533-1.401-2.605 3.579-9.951 6.08-12.91-2.82-2.813-4.216-3.245-4.806-3.245-.131 0-.223.021-.281.046v-.002zM12 3.551S9.055 1.828 6.755 1.746c-.903-.033-1.454.295-1.521.339C7.379.646 9.659 0 11.984 0H12c2.334 0 4.605.646 6.766 2.085-.068-.046-.615-.372-1.52-.339C14.946 1.828 12 3.545 12 3.545v.006z')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title PlayStation
									path(d='M8.984 2.596v17.547l3.915 1.261V6.688c0-.69.304-1.151.794-.991.636.18.76.814.76 1.505v5.875c2.441 1.193 4.362-.002 4.362-3.152 0-3.237-1.126-4.675-4.438-5.827-1.307-.448-3.728-1.186-5.39-1.502zm4.656 16.241l6.296-2.275c.715-.258.826-.625.246-.818-.586-.192-1.637-.139-2.357.123l-4.205 1.5V14.98l.24-.085s1.201-.42 2.913-.615c1.696-.18 3.785.03 5.437.661 1.848.601 2.04 1.472 1.576 2.072-.465.6-1.622 1.036-1.622 1.036l-8.544 3.107V18.86zM1.807 18.6c-1.9-.545-2.214-1.668-1.352-2.32.801-.586 2.16-1.052 2.16-1.052l5.615-2.013v2.313L4.205 17c-.705.271-.825.632-.239.826.586.195 1.637.15 2.343-.12L8.247 17v2.074c-.12.03-.256.044-.39.073-1.939.331-3.996.196-6.038-.479z')
				.card
					.card__content
						h3.card__title Dead Trahs
						.card__date
							.card__day 23
							.card__pipe |
							.card__month JUL.
						.card__footer
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Xbox
									path(d='M4.102 21.033C6.211 22.881 8.977 24 12 24c3.026 0 5.789-1.119 7.902-2.967 1.877-1.912-4.316-8.709-7.902-11.417-3.582 2.708-9.779 9.505-7.898 11.417zm11.16-14.406c2.5 2.961 7.484 10.313 6.076 12.912C23.002 17.48 24 14.861 24 12.004c0-3.34-1.365-6.362-3.57-8.536 0 0-.027-.022-.082-.042-.063-.022-.152-.045-.281-.045-.592 0-1.985.434-4.805 3.246zM3.654 3.426c-.057.02-.082.041-.086.042C1.365 5.642 0 8.664 0 12.004c0 2.854.998 5.473 2.661 7.533-1.401-2.605 3.579-9.951 6.08-12.91-2.82-2.813-4.216-3.245-4.806-3.245-.131 0-.223.021-.281.046v-.002zM12 3.551S9.055 1.828 6.755 1.746c-.903-.033-1.454.295-1.521.339C7.379.646 9.659 0 11.984 0H12c2.334 0 4.605.646 6.766 2.085-.068-.046-.615-.372-1.52-.339C14.946 1.828 12 3.545 12 3.545v.006z')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title PlayStation
									path(d='M8.984 2.596v17.547l3.915 1.261V6.688c0-.69.304-1.151.794-.991.636.18.76.814.76 1.505v5.875c2.441 1.193 4.362-.002 4.362-3.152 0-3.237-1.126-4.675-4.438-5.827-1.307-.448-3.728-1.186-5.39-1.502zm4.656 16.241l6.296-2.275c.715-.258.826-.625.246-.818-.586-.192-1.637-.139-2.357.123l-4.205 1.5V14.98l.24-.085s1.201-.42 2.913-.615c1.696-.18 3.785.03 5.437.661 1.848.601 2.04 1.472 1.576 2.072-.465.6-1.622 1.036-1.622 1.036l-8.544 3.107V18.86zM1.807 18.6c-1.9-.545-2.214-1.668-1.352-2.32.801-.586 2.16-1.052 2.16-1.052l5.615-2.013v2.313L4.205 17c-.705.271-.825.632-.239.826.586.195 1.637.15 2.343-.12L8.247 17v2.074c-.12.03-.256.044-.39.073-1.939.331-3.996.196-6.038-.479z')
				.card
					.card__content
						h3.card__title Black Book
						.card__date
							.card__day 12
							.card__pipe |
							.card__month JUL.
						.card__footer
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Xbox
									path(d='M4.102 21.033C6.211 22.881 8.977 24 12 24c3.026 0 5.789-1.119 7.902-2.967 1.877-1.912-4.316-8.709-7.902-11.417-3.582 2.708-9.779 9.505-7.898 11.417zm11.16-14.406c2.5 2.961 7.484 10.313 6.076 12.912C23.002 17.48 24 14.861 24 12.004c0-3.34-1.365-6.362-3.57-8.536 0 0-.027-.022-.082-.042-.063-.022-.152-.045-.281-.045-.592 0-1.985.434-4.805 3.246zM3.654 3.426c-.057.02-.082.041-.086.042C1.365 5.642 0 8.664 0 12.004c0 2.854.998 5.473 2.661 7.533-1.401-2.605 3.579-9.951 6.08-12.91-2.82-2.813-4.216-3.245-4.806-3.245-.131 0-.223.021-.281.046v-.002zM12 3.551S9.055 1.828 6.755 1.746c-.903-.033-1.454.295-1.521.339C7.379.646 9.659 0 11.984 0H12c2.334 0 4.605.646 6.766 2.085-.068-.046-.615-.372-1.52-.339C14.946 1.828 12 3.545 12 3.545v.006z')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title PlayStation
									path(d='M8.984 2.596v17.547l3.915 1.261V6.688c0-.69.304-1.151.794-.991.636.18.76.814.76 1.505v5.875c2.441 1.193 4.362-.002 4.362-3.152 0-3.237-1.126-4.675-4.438-5.827-1.307-.448-3.728-1.186-5.39-1.502zm4.656 16.241l6.296-2.275c.715-.258.826-.625.246-.818-.586-.192-1.637-.139-2.357.123l-4.205 1.5V14.98l.24-.085s1.201-.42 2.913-.615c1.696-.18 3.785.03 5.437.661 1.848.601 2.04 1.472 1.576 2.072-.465.6-1.622 1.036-1.622 1.036l-8.544 3.107V18.86zM1.807 18.6c-1.9-.545-2.214-1.668-1.352-2.32.801-.586 2.16-1.052 2.16-1.052l5.615-2.013v2.313L4.205 17c-.705.271-.825.632-.239.826.586.195 1.637.15 2.343-.12L8.247 17v2.074c-.12.03-.256.044-.39.073-1.939.331-3.996.196-6.038-.479z')
				.card
					.card__content
						h3.card__title Glichtpunk
						.card__date
							.card__day 30
							.card__pipe |
							.card__month JUL.
						.card__footer
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
			.contenido
				h1.contenido__reclamar Juegos Gratis
				.contenido__container
					a.cartas(href='https://www.g2a.com/watch-dogs-2-ubisoft-connect-key-europe-i10000017705010?adid=GA-MEX_PB_DIGI_SN_PROD_INV_Watch+Dogs&id=45&gclid=CjwKCAjwx8iIBhBwEiwA2quaq0lgPb5MTjl1OahMo9cQX-uPfO-RggH0FLvvnmTP0AjijWj3jrH1ARoCHSgQAvD_BwE&gclsrc=aw.ds' target='_blank')
						img.cartas__image(src='./imagenes/dogs2.jpg' alt='')
						h3.cartas__title Watch Dogs 2
						.cartas__date
							.cartas__day 2
							.cartas__pipe |
							.cartas__month AGO.
						.cartas__footer
							.cartas__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
							.cartas__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Xbox
									path(d='M4.102 21.033C6.211 22.881 8.977 24 12 24c3.026 0 5.789-1.119 7.902-2.967 1.877-1.912-4.316-8.709-7.902-11.417-3.582 2.708-9.779 9.505-7.898 11.417zm11.16-14.406c2.5 2.961 7.484 10.313 6.076 12.912C23.002 17.48 24 14.861 24 12.004c0-3.34-1.365-6.362-3.57-8.536 0 0-.027-.022-.082-.042-.063-.022-.152-.045-.281-.045-.592 0-1.985.434-4.805 3.246zM3.654 3.426c-.057.02-.082.041-.086.042C1.365 5.642 0 8.664 0 12.004c0 2.854.998 5.473 2.661 7.533-1.401-2.605 3.579-9.951 6.08-12.91-2.82-2.813-4.216-3.245-4.806-3.245-.131 0-.223.021-.281.046v-.002zM12 3.551S9.055 1.828 6.755 1.746c-.903-.033-1.454.295-1.521.339C7.379.646 9.659 0 11.984 0H12c2.334 0 4.605.646 6.766 2.085-.068-.046-.615-.372-1.52-.339C14.946 1.828 12 3.545 12 3.545v.006z')
					a.cartas(href='https://news.xbox.com/es-latam/2019/12/03/halo-reach-ya-disponible-en-halo-the-master-chief-collection/' target='_blank')
						img.cartas__image(src='./imagenes/reach.jpg' alt='')
						h3.cartas__title Halo Reach
						.cartas__date
							.cartas__day 5
							.cartas__pipe |
							.cartas__month AGO.
						.cartas__footer
							.cartas__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
							.cartas__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Xbox
									path(d='M4.102 21.033C6.211 22.881 8.977 24 12 24c3.026 0 5.789-1.119 7.902-2.967 1.877-1.912-4.316-8.709-7.902-11.417-3.582 2.708-9.779 9.505-7.898 11.417zm11.16-14.406c2.5 2.961 7.484 10.313 6.076 12.912C23.002 17.48 24 14.861 24 12.004c0-3.34-1.365-6.362-3.57-8.536 0 0-.027-.022-.082-.042-.063-.022-.152-.045-.281-.045-.592 0-1.985.434-4.805 3.246zM3.654 3.426c-.057.02-.082.041-.086.042C1.365 5.642 0 8.664 0 12.004c0 2.854.998 5.473 2.661 7.533-1.401-2.605 3.579-9.951 6.08-12.91-2.82-2.813-4.216-3.245-4.806-3.245-.131 0-.223.021-.281.046v-.002zM12 3.551S9.055 1.828 6.755 1.746c-.903-.033-1.454.295-1.521.339C7.379.646 9.659 0 11.984 0H12c2.334 0 4.605.646 6.766 2.085-.068-.046-.615-.372-1.52-.339C14.946 1.828 12 3.545 12 3.545v.006z')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title PlayStation
									path(d='M8.984 2.596v17.547l3.915 1.261V6.688c0-.69.304-1.151.794-.991.636.18.76.814.76 1.505v5.875c2.441 1.193 4.362-.002 4.362-3.152 0-3.237-1.126-4.675-4.438-5.827-1.307-.448-3.728-1.186-5.39-1.502zm4.656 16.241l6.296-2.275c.715-.258.826-.625.246-.818-.586-.192-1.637-.139-2.357.123l-4.205 1.5V14.98l.24-.085s1.201-.42 2.913-.615c1.696-.18 3.785.03 5.437.661 1.848.601 2.04 1.472 1.576 2.072-.465.6-1.622 1.036-1.622 1.036l-8.544 3.107V18.86zM1.807 18.6c-1.9-.545-2.214-1.668-1.352-2.32.801-.586 2.16-1.052 2.16-1.052l5.615-2.013v2.313L4.205 17c-.705.271-.825.632-.239.826.586.195 1.637.15 2.343-.12L8.247 17v2.074c-.12.03-.256.044-.39.073-1.939.331-3.996.196-6.038-.479z')
					a.cartas(href='https://www.dlcompare.es/juegos/100005833/comprar-descargar-cuphead' target='_blank')
						img.cartas__image(src='./imagenes/cuphead.png' alt='')
						h3.cartas__title Cup head
						.cartas__date
							.cartas__day 8
							.cartas__pipe |
							.cartas__month AGO.
						.cartas__footer
							.cartas__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
							.cartas__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Xbox
									path(d='M4.102 21.033C6.211 22.881 8.977 24 12 24c3.026 0 5.789-1.119 7.902-2.967 1.877-1.912-4.316-8.709-7.902-11.417-3.582 2.708-9.779 9.505-7.898 11.417zm11.16-14.406c2.5 2.961 7.484 10.313 6.076 12.912C23.002 17.48 24 14.861 24 12.004c0-3.34-1.365-6.362-3.57-8.536 0 0-.027-.022-.082-.042-.063-.022-.152-.045-.281-.045-.592 0-1.985.434-4.805 3.246zM3.654 3.426c-.057.02-.082.041-.086.042C1.365 5.642 0 8.664 0 12.004c0 2.854.998 5.473 2.661 7.533-1.401-2.605 3.579-9.951 6.08-12.91-2.82-2.813-4.216-3.245-4.806-3.245-.131 0-.223.021-.281.046v-.002zM12 3.551S9.055 1.828 6.755 1.746c-.903-.033-1.454.295-1.521.339C7.379.646 9.659 0 11.984 0H12c2.334 0 4.605.646 6.766 2.085-.068-.046-.615-.372-1.52-.339C14.946 1.828 12 3.545 12 3.545v.006z')
					a.cartas(href='https://www.g2a.com/god-of-war-i10000258687001' target='_blank')
						img.cartas__image(src='./imagenes/godofwar.jpg' alt='')
						h3.cartas__title God Of War
						.cartas__date
							.cartas__day 10
							.cartas__pipe |
							.cartas__month AGO.
						.cartas__footer
							.cartas__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
							.cartas__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Xbox
									path(d='M4.102 21.033C6.211 22.881 8.977 24 12 24c3.026 0 5.789-1.119 7.902-2.967 1.877-1.912-4.316-8.709-7.902-11.417-3.582 2.708-9.779 9.505-7.898 11.417zm11.16-14.406c2.5 2.961 7.484 10.313 6.076 12.912C23.002 17.48 24 14.861 24 12.004c0-3.34-1.365-6.362-3.57-8.536 0 0-.027-.022-.082-.042-.063-.022-.152-.045-.281-.045-.592 0-1.985.434-4.805 3.246zM3.654 3.426c-.057.02-.082.041-.086.042C1.365 5.642 0 8.664 0 12.004c0 2.854.998 5.473 2.661 7.533-1.401-2.605 3.579-9.951 6.08-12.91-2.82-2.813-4.216-3.245-4.806-3.245-.131 0-.223.021-.281.046v-.002zM12 3.551S9.055 1.828 6.755 1.746c-.903-.033-1.454.295-1.521.339C7.379.646 9.659 0 11.984 0H12c2.334 0 4.605.646 6.766 2.085-.068-.046-.615-.372-1.52-.339C14.946 1.828 12 3.545 12 3.545v.006z')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title PlayStation
									path(d='M8.984 2.596v17.547l3.915 1.261V6.688c0-.69.304-1.151.794-.991.636.18.76.814.76 1.505v5.875c2.441 1.193 4.362-.002 4.362-3.152 0-3.237-1.126-4.675-4.438-5.827-1.307-.448-3.728-1.186-5.39-1.502zm4.656 16.241l6.296-2.275c.715-.258.826-.625.246-.818-.586-.192-1.637-.139-2.357.123l-4.205 1.5V14.98l.24-.085s1.201-.42 2.913-.615c1.696-.18 3.785.03 5.437.661 1.848.601 2.04 1.472 1.576 2.072-.465.6-1.622 1.036-1.622 1.036l-8.544 3.107V18.86zM1.807 18.6c-1.9-.545-2.214-1.668-1.352-2.32.801-.586 2.16-1.052 2.16-1.052l5.615-2.013v2.313L4.205 17c-.705.271-.825.632-.239.826.586.195 1.637.15 2.343-.12L8.247 17v2.074c-.12.03-.256.044-.39.073-1.939.331-3.996.196-6.038-.479z')
					a.cartas(href='https://2k.com/en-US/game/bioshock-infinite/' target='_blank')
						img.cartas__image(src='./imagenes/bioshock.jpg' alt='')
						h3.cartas__title Bioshock
						.cartas__date
							.cartas__day 15
							.cartas__pipe |
							.cartas__month AGO.
						.cartas__footer
							.cartas__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
							.cartas__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Xbox
									path(d='M4.102 21.033C6.211 22.881 8.977 24 12 24c3.026 0 5.789-1.119 7.902-2.967 1.877-1.912-4.316-8.709-7.902-11.417-3.582 2.708-9.779 9.505-7.898 11.417zm11.16-14.406c2.5 2.961 7.484 10.313 6.076 12.912C23.002 17.48 24 14.861 24 12.004c0-3.34-1.365-6.362-3.57-8.536 0 0-.027-.022-.082-.042-.063-.022-.152-.045-.281-.045-.592 0-1.985.434-4.805 3.246zM3.654 3.426c-.057.02-.082.041-.086.042C1.365 5.642 0 8.664 0 12.004c0 2.854.998 5.473 2.661 7.533-1.401-2.605 3.579-9.951 6.08-12.91-2.82-2.813-4.216-3.245-4.806-3.245-.131 0-.223.021-.281.046v-.002zM12 3.551S9.055 1.828 6.755 1.746c-.903-.033-1.454.295-1.521.339C7.379.646 9.659 0 11.984 0H12c2.334 0 4.605.646 6.766 2.085-.068-.046-.615-.372-1.52-.339C14.946 1.828 12 3.545 12 3.545v.006z')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title PlayStation
									path(d='M8.984 2.596v17.547l3.915 1.261V6.688c0-.69.304-1.151.794-.991.636.18.76.814.76 1.505v5.875c2.441 1.193 4.362-.002 4.362-3.152 0-3.237-1.126-4.675-4.438-5.827-1.307-.448-3.728-1.186-5.39-1.502zm4.656 16.241l6.296-2.275c.715-.258.826-.625.246-.818-.586-.192-1.637-.139-2.357.123l-4.205 1.5V14.98l.24-.085s1.201-.42 2.913-.615c1.696-.18 3.785.03 5.437.661 1.848.601 2.04 1.472 1.576 2.072-.465.6-1.622 1.036-1.622 1.036l-8.544 3.107V18.86zM1.807 18.6c-1.9-.545-2.214-1.668-1.352-2.32.801-.586 2.16-1.052 2.16-1.052l5.615-2.013v2.313L4.205 17c-.705.271-.825.632-.239.826.586.195 1.637.15 2.343-.12L8.247 17v2.074c-.12.03-.256.044-.39.073-1.939.331-3.996.196-6.038-.479z')
					a.cartas(href='https://www.microsoft.com/es-mx/p/dishonored-definitive-edition/c299qvc2bsjf?activetab=pivot:overviewtab' target='_blank')
						img.cartas__image(src='./imagenes/dishonored.jpg' alt='')
						h3.cartas__title Dishonored
						.cartas__date
							.cartas__day 20
							.cartas__pipe |
							.cartas__month AGO.
						.cartas__footer
							.cartas__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
					a.cartas(href='https://elderscrolls.bethesda.net/es/skyrim' target='_blank')
						img.cartas__image(src='./imagenes/skyrim.png' alt='')
						h3.cartas__title Skyrim
						.cartas__date
							.cartas__day 23
							.cartas__pipe |
							.cartas__month AGO.
						.cartas__footer
							.cartas__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title PlayStation
									path(d='M8.984 2.596v17.547l3.915 1.261V6.688c0-.69.304-1.151.794-.991.636.18.76.814.76 1.505v5.875c2.441 1.193 4.362-.002 4.362-3.152 0-3.237-1.126-4.675-4.438-5.827-1.307-.448-3.728-1.186-5.39-1.502zm4.656 16.241l6.296-2.275c.715-.258.826-.625.246-.818-.586-.192-1.637-.139-2.357.123l-4.205 1.5V14.98l.24-.085s1.201-.42 2.913-.615c1.696-.18 3.785.03 5.437.661 1.848.601 2.04 1.472 1.576 2.072-.465.6-1.622 1.036-1.622 1.036l-8.544 3.107V18.86zM1.807 18.6c-1.9-.545-2.214-1.668-1.352-2.32.801-.586 2.16-1.052 2.16-1.052l5.615-2.013v2.313L4.205 17c-.705.271-.825.632-.239.826.586.195 1.637.15 2.343-.12L8.247 17v2.074c-.12.03-.256.044-.39.073-1.939.331-3.996.196-6.038-.479z')
					a.cartas(href='https://playoverwatch.com/es-mx/' target='_blank')
						img.cartas__image(src='./imagenes/Overwatch.jpg' alt='')
						h3.cartas__title Overwatch
						.cartas__date
							.cartas__day 25
							.cartas__pipe |
							.cartas__month AGO.
						.cartas__footer
							.cartas__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Windows
									path(d='M0 3.449L9.75 2.1v9.451H0m10.949-9.602L24 0v11.4H10.949M0 12.6h9.75v9.451L0 20.699M10.949 12.6H24V24l-12.9-1.801')
							.cartas__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title Xbox
									path(d='M4.102 21.033C6.211 22.881 8.977 24 12 24c3.026 0 5.789-1.119 7.902-2.967 1.877-1.912-4.316-8.709-7.902-11.417-3.582 2.708-9.779 9.505-7.898 11.417zm11.16-14.406c2.5 2.961 7.484 10.313 6.076 12.912C23.002 17.48 24 14.861 24 12.004c0-3.34-1.365-6.362-3.57-8.536 0 0-.027-.022-.082-.042-.063-.022-.152-.045-.281-.045-.592 0-1.985.434-4.805 3.246zM3.654 3.426c-.057.02-.082.041-.086.042C1.365 5.642 0 8.664 0 12.004c0 2.854.998 5.473 2.661 7.533-1.401-2.605 3.579-9.951 6.08-12.91-2.82-2.813-4.216-3.245-4.806-3.245-.131 0-.223.021-.281.046v-.002zM12 3.551S9.055 1.828 6.755 1.746c-.903-.033-1.454.295-1.521.339C7.379.646 9.659 0 11.984 0H12c2.334 0 4.605.646 6.766 2.085-.068-.046-.615-.372-1.52-.339C14.946 1.828 12 3.545 12 3.545v.006z')
							.card__icon
								svg.card__svg(role='img' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor')
									title PlayStation
									path(d='M8.984 2.596v17.547l3.915 1.261V6.688c0-.69.304-1.151.794-.991.636.18.76.814.76 1.505v5.875c2.441 1.193 4.362-.002 4.362-3.152 0-3.237-1.126-4.675-4.438-5.827-1.307-.448-3.728-1.186-5.39-1.502zm4.656 16.241l6.296-2.275c.715-.258.826-.625.246-.818-.586-.192-1.637-.139-2.357.123l-4.205 1.5V14.98l.24-.085s1.201-.42 2.913-.615c1.696-.18 3.785.03 5.437.661 1.848.601 2.04 1.472 1.576 2.072-.465.6-1.622 1.036-1.622 1.036l-8.544 3.107V18.86zM1.807 18.6c-1.9-.545-2.214-1.668-1.352-2.32.801-.586 2.16-1.052 2.16-1.052l5.615-2.013v2.313L4.205 17c-.705.271-.825.632-.239.826.586.195 1.637.15 2.343-.12L8.247 17v2.074c-.12.03-.256.044-.39.073-1.939.331-3.996.196-6.038-.479z')
			.noticias
				h1.noticia__titulo Noticias De La Semana
				.noticias__container
					.noticas__card
						.noticas__card-imagen.noticas__card1
						h2.noticas__title Steam Oferts
						p.noticas__text
							| Mejores descuentos Anuales de Steam, donde se dice que steam tira la casa por la ventana.
						a.noticias__boton(href='#') READ MORE
					.noticas__card
						.noticas__card-imagen.noticias__card2
						h2.noticas__title Steam Deck
						p.noticas__text
							| La Steam Deck  se convirtió en la consola que más expectativa genera en los gamers asiduos a las consolas. Y es que, pocos días después de que Nintendo anunció la Switch OLED
						a.noticias__boton(href='#') READ MORE
					.noticas__card
						.noticas__card-imagen.noticias__card3
						h2.noticas__title Remaster GTA SA
						p.noticas__text
							| Algo que muchos fans están esperando, podría hacerse realidad muy pronto, pues Grand Theft Auto San Andreas Remaster estaría en producción
						a.noticias__boton(href='#') READ MORE
