doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Azteca-Playss
		link(rel='stylesheet' href='style.css')
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,500&display=swap' rel='stylesheet')
	//- MIXINS
	include ./pug/_card.pug
	include ./pug/_new.pug
	body
		.header
			img.header__logo(src='imagenes/SA-logo2.jpg' alt='logo')
			nav.nav
				ul.nav__list
					li.nav__item
						a.nav__link(href='#')
							include ../iconos/windows-header.svg
					li.nav__item
						a.nav__link(href='#') 
							include ../iconos/xbox-header.svg
					li.nav__item
						a.nav__link(href='#') 
							include ../iconos/playstation-header.svg
					li.nav__item
						a.nav__link(href='#') 
							include ../iconos/nintendo-header.svg
		.hero
			h1.hero__titulo Mejores Juegos En Descuento
			.slider
				img.slider__imagen(src='imagenes/cyberpunk-2077.jpg' alt='')
				.slider__contenedor
					.slider__text-container
						h1.slider__title Cyberpunk 2077
						p.slider__texto
							| Cyberpunk 2077 es un videojuego desarrollado y publicado por CD
							| Projekt, que se lanzó para Microsoft Windows, PlayStation 4, y Xbox
							| One el 10 de diciembre de 2020, y posteriormente en PlayStation 5,
							| Xbox Series X|S y Google Stadia.
					.slider__boton.slider__boton--derecha &#62;
					.slider__boton.slider__boton--izquierda &#60;
					.slider__paginacion
						li.slider__dot
						li.slider__dot
						li.slider__dot
		.calendar-launch
			h1.calendar-launch__titulo Calendario De Lanzamiento
			.calendar-launch__container
				+card("HollowNight",12,"JUL.",true,true,true)
				+card("Bioshock",15,"JUL.",true,true,true)
				+card("Portal",20,"JUL",true,true,true)
				+card("Farmer'life",23,"JUL",true,true,false)
				+card("Dead Trhs",23,"JUL",true,true,true)
				+card("Black Book",12,"JUL",true,true,true)
				+card("Glichtpunk",30,"JUL",true)
		.calendar-free
			h1.calendar-free__reclamar Juegos Gratis
			.juegos
				a.juegos__imagen(href='https://www.g2a.com/watch-dogs-2-ubisoft-connect-key-europe-i10000017705010?adid=GA-MEX_PB_DIGI_SN_PROD_INV_Watch+Dogs&id=45&gclid=CjwKCAjwx8iIBhBwEiwA2quaq0lgPb5MTjl1OahMo9cQX-uPfO-RggH0FLvvnmTP0AjijWj3jrH1ARoCHSgQAvD_BwE&gclsrc=aw.ds' target='_blank')
					img.juegos__image(src='./imagenes/dogs2.jpg' alt='')
					h3.juegos__title Watch Dogs 2
					.juegos__date
						.juegos__day 2
						.juegos__pipe |
						.juegos__month AGO.
					.juegos__footer
						.juegos__icon
							include ../iconos/windows.svg
						.juegos__icon
							include ../iconos/xbox.svg
				a.juegos__imagen(href='https://news.xbox.com/es-latam/2019/12/03/halo-reach-ya-disponible-en-halo-the-master-chief-collection/' target='_blank')
					img.juegos__image(src='./imagenes/reach.jpg' alt='')
					h3.juegos__title Halo Reach
					.juegos__date
						.juegos__day 5
						.juegos__pipe |
						.juegos__month AGO.
					.juegos__footer
						.juegos__icon
							include ../iconos/windows.svg
						.juegos__icon
							include ../iconos/xbox.svg
						.juegos__icon
							include ../iconos/playstation.svg
				a.juegos__imagen(href='https://www.dlcompare.es/juegos/100005833/comprar-descargar-cuphead' target='_blank')
					img.juegos__image(src='./imagenes/cuphead.png' alt='')
					h3.juegos__title Cup head
					.juegos__date
						.juegos__day 8
						.juegos__pipe |
						.juegos__month AGO.
					.juegos__footer
						.juegos__icon
							include ../iconos/windows.svg
						.juegos__icon
							include ../iconos/xbox.svg
				a.juegos__imagen(href='https://www.g2a.com/god-of-war-i10000258687001' target='_blank')
					img.juegos__image(src='./imagenes/godofwar.jpg' alt='')
					h3.juegos__title God Of War
					.juegos__date
						.juegos__day 10
						.juegos__pipe |
						.juegos__month AGO.
					.juegos__footer
						.juegos__icon
							include ../iconos/windows.svg
						.juegos__icon
							include ../iconos/xbox.svg
						.juegos__icon
							include ../iconos/playstation.svg
				a.juegos__imagen(href='https://2k.com/en-US/game/bioshock-infinite/' target='_blank')
					img.juegos__image(src='./imagenes/bioshock.jpg' alt='')
					h3.juegos__title Bioshock
					.juegos__date
						.juegos__day 15
						.juegos__pipe |
						.juegos__month AGO.
					.juegos__footer
						.juegos__icon
							include ../iconos/windows.svg
						.juegos__icon
							include ../iconos/xbox.svg
						.juegos__icon
							include ../iconos/playstation.svg
				a.juegos__imagen(href='https://www.microsoft.com/es-mx/p/dishonored-definitive-edition/c299qvc2bsjf?activetab=pivot:overviewtab' target='_blank')
					img.juegos__image(src='./imagenes/dishonored.jpg' alt='')
					h3.juegos__title Dishonored
					.juegos__date
						.juegos__day 20
						.juegos__pipe |
						.juegos__month AGO.
					.juegos__footer
						.juegos__icon
							include ../iconos/windows.svg
				a.juegos__imagen(href='https://elderscrolls.bethesda.net/es/skyrim' target='_blank')
					img.juegos__image(src='./imagenes/skyrim.png' alt='')
					h3.juegos__title Skyrim
					.juegos__date
						.juegos__day 23
						.juegos__pipe |
						.juegos__month AGO.
					.juegos__footer
						.juegos__icon
							include ../iconos/windows.svg
						.juegos__icon
							include ../iconos/playstation.svg
				a.juegos__imagen(href='https://playoverwatch.com/es-mx/' target='_blank')
					img.juegos__image(src='./imagenes/Overwatch.jpg' alt='')
					h3.juegos__title Overwatch
					.juegos__date
						.juegos__day 25
						.juegos__pipe |
						.juegos__month AGO.
					.juegos__footer
						.juegos__icon
							include ../iconos/windows.svg
						.juegos__icon
							include ../iconos/xbox.svg
						.juegos__icon
							include ../iconos/playstation.svg
		.noticias
			h1.noticias__titulo Noticias De La Semana
			.card__container
				+new("card__imagen--image-1","Steam Oferts","Mejores descuentos Anuales de Steam, donde se dice que steam tira la casa por la ventana.","#","READ MORE","card__boton")(class="card__boton")
				+new("card__imagen--image-2","Steam Deck","La Steam Deck  se convirtió en la consola que más expectativa genera en los gamers asiduos a las consolas. Y es que, pocos días después de que Nintendo anunció la Switch OLED","#","READ MORE","card__boton")
				+new("card__imagen--image-3","Remaster GTA SA","Algo que muchos fans están esperando, podría hacerse realidad muy pronto, pues Grand Theft Auto San Andreas Remaster estaría en producción","#","READ MORE","card__boton")
		.contactos 
			.contactos__izquierda
				.carta
					.carta__front
					.carta__back
						h2.carta__titulo Manuel Ancona
						br
						span.carta__texto SA_Zenk
			.contactos__derecha
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d521.9207355515559!2d-86.82439812690612!3d21.198988123812285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2c29af59538b%3A0xdd046b26517f39f0!2sYucat%C3%A1n%20Mz%2050%20Lt4%2C%20Gastron%C3%B3micos%2C%2077%2C%2077528%20Canc%C3%BAn%2C%20Q.R.!5e0!3m2!1ses!2smx!4v1630983854779!5m2!1ses!2smx" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
