doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Azteca-Playss
		link(rel='stylesheet' href='style.css')
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,500&display=swap' rel='stylesheet')
	//- MIXINS
	include ./pug/_card.pug
	include ./pug/_new.pug
	body
		.header
			img.header__logo(src='imagenes/SA-logo2.jpg' alt='logo')
			nav.nav
				ul.nav__list
					li.nav__item
						a.nav__link(href='#')
							include ../iconos/windows-header.svg
					li.nav__item
						a.nav__link(href='#') 
							include ../iconos/xbox-header.svg
					li.nav__item
						a.nav__link(href='#') 
							include ../iconos/playstation-header.svg
					li.nav__item
						a.nav__link(href='#') 
							include ../iconos/nintendo-header.svg 
		.hero
			h1.hero__titulo Mejores Juegos En Descuento
			.slider
				img.slider__imagen(src='imagenes/cyberpunk-2077.jpg' alt='')
				.slider__contenedor
					.slider__text-container
						h1.slider__title Cyberpunk 2077
						p.slider__texto
							| Cyberpunk 2077 es un videojuego desarrollado y publicado por CD
							| Projekt, que se lanzó para Microsoft Windows, PlayStation 4, y Xbox
							| One el 10 de diciembre de 2020, y posteriormente en PlayStation 5,
							| Xbox Series X|S y Google Stadia.
					.slider__boton.slider__boton--derecha &#62;
					.slider__boton.slider__boton--izquierda &#60;
					.slider__paginacion
						li.slider__dot
						li.slider__dot
						li.slider__dot
		.calendar-launch
			h1.calendar-launch__titulo Calendario De Lanzamiento
			.calendar-launch__container
				+card("HollowNight",12,"JUL.",true,true,true)
				+card("Bioshock",15,"JUL.",true,true,true)
				+card("Portal",20,"JUL",true,true,true)
				+card("Farmer'life",23,"JUL",true,true,false)
				+card("Dead Trhs",23,"JUL",true,true,true)
				+card("Black Book",12,"JUL",true,true,true)
				+card("Glichtpunk",30,"JUL",true)
		.calendar-free
			h1.calendar-free__reclamar Juegos Gratis
			.cartas
				a.cartas(href='https://www.g2a.com/watch-dogs-2-ubisoft-connect-key-europe-i10000017705010?adid=GA-MEX_PB_DIGI_SN_PROD_INV_Watch+Dogs&id=45&gclid=CjwKCAjwx8iIBhBwEiwA2quaq0lgPb5MTjl1OahMo9cQX-uPfO-RggH0FLvvnmTP0AjijWj3jrH1ARoCHSgQAvD_BwE&gclsrc=aw.ds' target='_blank')
					img.cartas__image(src='./imagenes/dogs2.jpg' alt='')
					h3.cartas__title Watch Dogs 2
					.cartas__date
						.cartas__day 2
						.cartas__pipe |
						.cartas__month AGO.
					.cartas__footer
						.cartas__icon
							include ../iconos/windows.svg
						.cartas__icon
							include ../iconos/xbox.svg
				a.cartas(href='https://news.xbox.com/es-latam/2019/12/03/halo-reach-ya-disponible-en-halo-the-master-chief-collection/' target='_blank')
					img.cartas__image(src='./imagenes/reach.jpg' alt='')
					h3.cartas__title Halo Reach
					.cartas__date
						.cartas__day 5
						.cartas__pipe |
						.cartas__month AGO.
					.cartas__footer
						.cartas__icon
							include ../iconos/windows.svg
						.cartas__icon
							include ../iconos/xbox.svg
						.card__icon
							include ../iconos/playstation.svg
				a.cartas(href='https://www.dlcompare.es/juegos/100005833/comprar-descargar-cuphead' target='_blank')
					img.cartas__image(src='./imagenes/cuphead.png' alt='')
					h3.cartas__title Cup head
					.cartas__date
						.cartas__day 8
						.cartas__pipe |
						.cartas__month AGO.
					.cartas__footer
						.cartas__icon
							include ../iconos/windows.svg
						.cartas__icon
							include ../iconos/xbox.svg
				a.cartas(href='https://www.g2a.com/god-of-war-i10000258687001' target='_blank')
					img.cartas__image(src='./imagenes/godofwar.jpg' alt='')
					h3.cartas__title God Of War
					.cartas__date
						.cartas__day 10
						.cartas__pipe |
						.cartas__month AGO.
					.cartas__footer
						.cartas__icon
							include ../iconos/windows.svg
						.cartas__icon
							include ../iconos/xbox.svg
						.card__icon
							include ../iconos/playstation.svg
				a.cartas(href='https://2k.com/en-US/game/bioshock-infinite/' target='_blank')
					img.cartas__image(src='./imagenes/bioshock.jpg' alt='')
					h3.cartas__title Bioshock
					.cartas__date
						.cartas__day 15
						.cartas__pipe |
						.cartas__month AGO.
					.cartas__footer
						.cartas__icon
							include ../iconos/windows.svg
						.cartas__icon
							include ../iconos/xbox.svg
						.card__icon
							include ../iconos/playstation.svg
				a.cartas(href='https://www.microsoft.com/es-mx/p/dishonored-definitive-edition/c299qvc2bsjf?activetab=pivot:overviewtab' target='_blank')
					img.cartas__image(src='./imagenes/dishonored.jpg' alt='')
					h3.cartas__title Dishonored
					.cartas__date
						.cartas__day 20
						.cartas__pipe |
						.cartas__month AGO.
					.cartas__footer
						.cartas__icon
							include ../iconos/windows.svg
				a.cartas(href='https://elderscrolls.bethesda.net/es/skyrim' target='_blank')
					img.cartas__image(src='./imagenes/skyrim.png' alt='')
					h3.cartas__title Skyrim
					.cartas__date
						.cartas__day 23
						.cartas__pipe |
						.cartas__month AGO.
					.cartas__footer
						.cartas__icon
							include ../iconos/windows.svg
						.card__icon
							include ../iconos/playstation.svg
				a.cartas(href='https://playoverwatch.com/es-mx/' target='_blank')
					img.cartas__image(src='./imagenes/Overwatch.jpg' alt='')
					h3.cartas__title Overwatch
					.cartas-link__date
						.cartas-link__day 25
						.cartas-link__pipe |
						.cartas-link__month AGO.
					.cartas-link__footer
						.cartas-link__icon
							include ../iconos/windows.svg
						.cartas-link__icon
							include ../iconos/xbox.svg
						.card-link__icon
							include ../iconos/playstation.svg
		.noticias
			h1.noticias__titulo Noticias De La Semana
			.new__container
				+new("new__card-imagen--image-3","Steam Oferts","Mejores descuentos Anuales de Steam, donde se dice que steam tira la casa por la ventana.","#","READ MORE","new__boton")(class="new__boton")
				.new__card
					.new__card-imagen.new__card-imagen--image-1
					h2.new__title Steam Oferts
					p.new__text
						| Mejores descuentos Anuales de Steam, donde se dice que steam tira la casa por la ventana.
					a.new__boton(href='#') READ MORE
				.new__card
					.new__card-imagen.new__card-imagen--image-2
					h2.new__title Steam Deck
					p.new__text
						| La Steam Deck  se convirtió en la consola que más expectativa genera en los gamers asiduos a las consolas. Y es que, pocos días después de que Nintendo anunció la Switch OLED
					a.new__boton(href='#') READ MORE
				.new__card
					.new__card-imagen.new__card-imagen--image-3
					h2.new__title Remaster GTA SA
					p.new__text
						| Algo que muchos fans están esperando, podría hacerse realidad muy pronto, pues Grand Theft Auto San Andreas Remaster estaría en producción
					a.new__boton(href='#') READ MORE
