.calendar {

  &-launch__titulo {
    height: 50px;
    background: rgb(204, 204, 204);
    margin: 0;
  }

  &-launch__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(2, 2, 2);

  }
}
