.contactos {
	display: flex;
	position: relative;

	&__izquierda {
		height: 100vh;
		width: 50%;
		background: rgba(27, 26, 26, 0.877);
	}

	&__derecha {
		background: rgba(27, 26, 26, 0.877);
	}


}

.carta {
	top: 50%;
	left: 50%;
	height: 50%;
	width: 50%;
	transform: translate(-50%, -50%);
	transform-style: preserve-3d;
	perspective: 600px;
	transition: .5s;
	position: relative;

	&:hover .carta__front {
		transform: rotateX(-180deg);
	}

	&:hover .carta__back {
		transform: rotateX(0deg);
	}

	&__front {
		height: 100%;
		width: 100%;
		background-image: url(../../imagenes/contactos.jpg);
		background-position: 50% 50%;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #000000;
		backface-visibility: hidden;
		transform: rotateX(0deg);
		transition: .5s;
	}

	&__back {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #000000;
		backface-visibility: hidden;
		transform: rotateX(180deg);
		transition: .5s;
		color: #ffffff;
		text-align: center;
	}

	&__titulo {
		margin: 60% auto 30% auto;
		font-size: 26px;
	}

	&__texto {
		font-size: 20px;
	}
} 